  
  /************************************************************btn-transparent-blue**********************************************************************/

  .btn-transparent-blue {
    color: rgb(107, 107, 107);
  }
  
  .btn-transparent-blue:focus,
  .btn-transparent-blue.focus {
    color: rgb(0, 119, 255);
    box-shadow: 0 0 0 0.2rem  rgba(0, 119, 255,0.63);
  }
  
  .btn-transparent-blue.disabled,
  .btn-transparent-blue:disabled {
    color: #fff;
  }
  
  .btn-transparent-blue:not(:disabled):not(.disabled):active,
  .btn-transparent-blue:not(:disabled):not(.disabled).active,
  .show > .btn-transparent-blue.dropdown-toggle {
    color: rgb(0, 119, 255);
  }
  
  .btn-transparent-blue:not(:disabled):not(.disabled):active:focus,
  .btn-transparent-blue:not(:disabled):not(.disabled).active:focus,
  .show > .btn-transparent-blue.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #717171;
  }

  .triangle{
    background-color: hotpink;
    background: 
    linear-gradient(-135deg, transparent 15px, rgb(40,167,69) 0) top right, 
    linear-gradient(-45deg, transparent 15px,rgb(40,167,69) 0) bottom right;
    background-size: 100% 50%; 
    background-repeat: no-repeat;

    
  }