<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <a class="navbar-brand" href="#">Toolbox</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <!-- <li class="nav-item">
          <a  class="nav-link" [routerLink]="'/picture-div'">picture-div</a>
        </li> -->
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="DropdownMenucomponent" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           元件
          </a>
          <div class="dropdown-menu" aria-labelledby="DropdownMenucomponent">
            <a class="dropdown-item" [routerLink]="'/picture-div'">圖片上傳與預覽</a>
            <a class="dropdown-item" [routerLink]="'/multi-input-tmpl'">HasgTag</a>
            <a class="dropdown-item" href="#">--</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="DropdownMenucomposing" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           排版
          </a>
          <div class="dropdown-menu" aria-labelledby="DropdownMenucomposing">
            <a class="dropdown-item" [routerLink]="'/class-display'">三階層顯示</a>
            <a class="dropdown-item" [routerLink]="'/table'">列表顯示與新增</a>
            <a class="dropdown-item" [routerLink]="'/practice/practice01'">排版練習01</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  